{% extends 'base.html.twig' %}

{% block title %}Eforum{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/home.css') }}"> {% endblock %}

{% block body %}

   
    <div class="left-page-content">
        <div class="presentation">
            <h1>presentation area</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ipsa ad maxime, cumque nulla corporis laudantium voluptates aliquid dignissimos itaque hic reiciendis. Doloremque aspernatur fugit facilis assumenda perspiciatis asperiores non, sed eveniet laboriosam facere consectetur nihil, unde quidem quaerat beatae. Aperiam illo itaque assumenda quisquam quod ea natus vitae veniam.</p>
            <p>Lorem ipsum dolor     sit amet consectetur adipisicing elit. Doloremque ipsum, neque amet alias debitis at dicta non quasi pariatur dolor esse placeat perspiciatis dolores repudiandae quam. Ab doloremque expedita unde aliquid excepturi corporis non earum velit natus nobis impedit magni rerum placeat, dolores autem quisquam nemo adipisci ullam provident quam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsum, neque amet alias debitis at dicta non quasi pariatur dolor esse placeat perspiciatis dolores repudiandae quam. Ab doloremque expedita unde aliquid excepturi corporis non earum velit natus nobis impedit magni rerum placeat, dolores autem quisquam nemo adipisci ullam provident quam.</p>
        </div>

        <div class="top-posts-week post-group-box">
            <h2>Top sujet de la semaine</h2>
            {% if topPostsWeek %}
                <div class="post-group">
                    {% for post in topPostsWeek %}
                    <a href="{{ path('show_post',{id:post.id}) }}">
                        <div class="post">
                            <div class="top-post">
                                <h3 class="post-title">{{ post.title }}</h3>
                                <span class="badge-info">
                                {% if post.status == 0 %}  
                                    {{ " ouvert"}}
                                {% else %}
                                    {{" fermé"}}
                                {% endif %} 
                                </span>
                            </div>
                            <a class="time-box" href="{{ path('show_user',{id:post.author.id}) }}">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }}</a>
                            <p>Vue : {{ post.getSumPostViews }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

     <aside>
        <div class="ads">
            <a href="http://gdn.cyrillestr.com">
                <img src="{{ asset('img/ad.jpg') }}" alt="ad.jpg">
            </a>
        </div>

        <div class="last-posts post-group-box">
            <h2>Derniers posts</h2>
            {% if recentposts %}
                <div class="post-group">
                    {% for post in recentposts %}
                    <a href="{{ path('show_post',{id:post.id}) }}">
                        <div class="post">
                            <div class="top-post">
                                <h3 class="post-title">{{ post.title }}</h3>
                                <span class="badge-info">
                                {% if post.status == 0 %}  
                                    {{ " ouvert"}}
                                {% else %}
                                    {{" fermé"}}
                                {% endif %} 
                                </span>
                            </div>
                            <a class="time-box" href="{{ path('show_user',{id:post.author.id}) }}">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }}</a>
                            <p>Vue : {{ post.getSumPostViews }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </aside>


{% endblock %}
