<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ app.environment }}
        {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/body.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="top_header">
                <a id="left_top_header" href="{{ path('home')}}">
                    <div id="eforum"><span id="E">E</span>-FORUM</div>
                    <div id="lfde">Le forum des entrepreneurs</div>
                </a>
                <div id="right_top_header">
                    <form class="search-box" action="{{path('search')}}" method="POST">
                        <input autocomplete="off" type="text" placeholder="Rechercher" class="search-input" name="key">
                        <button type="submit" class="search-btn"><img src="{{ asset('img/search_icon.png')}}" alt="search_icon.png"></button>
                    </form>
                    {% if app.user %}
                    <div class="dropdown dropdown-notif">
                        <button onclick="notifDropdownToggle();" class="notif-icon" id="notif-btn"><img src="{{ asset('img/notif_icon.png')}}" alt="notif_icon.png"></button>
                            <ul class="notif-group"></ul>                        
                    </div>
                    {% endif %}
                    <div class="dropdown dropdown-account">
                        <button onclick="accountDropdownToggle();" class="account-icon" id="accout-btn"><img src="{{ asset('img/account_icon.png')}}" alt="account_icon.png"></button>
                        {% if app.user %}
                            <ul>
                                <span><img src="{{ asset('img/account_icon.png') }}" alt="profil_picture.png"></span>
                                <h1>{{ app.user.firstName}} {{ app.user.lastName }}</h1>
                                <a href="{{ path('my_account') }}">Mon profil</a>
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </ul>
                        {% else %}
                            <ul>
                                <a href="{{ path('app_login') }}">Connexion</a>
                                <a href="{{ path('registration') }}">Inscription</a>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <nav>
                <a class="nav-link" href="{{ path('list_posts',  {filter:"dateDesc"}) }}">Les plus récents</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"Placements"})}}">Placements</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"e-Buisness"})}}">e-Buisness</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"Entreprise"})}}">Entreprise</a>
                <a class="nav-link" id="new_post" href="{{ path('create_post') }}">Nouveau post</a>
            </nav>
        </header>   
        <div class="page-content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p class="lead">Nik la peau lisse. All right reserved</p>
            <hr class="my-4">
            <div>
                <a href="#">Contacts</a>
                <a href="#">Données personnelles</a>
                <a href="http://gdn.cyrillestr.com">BigMuscle</a>
            </div>
        </footer>
        <script>
            const dropdownAccount = document.querySelector('.dropdown-account');

            function accountDropdownToggle(){
                dropdownAccount.classList.toggle('active');
            }

            {% if app.user %}

            const dropdownNotif = document.querySelector('.dropdown-notif');
            function notifDropdownToggle(){
                dropdownNotif.classList.toggle('active');
            }

            {% endif %}
        </script>
        {% if app.user %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% if app.user %}
        <script>
        axios.get("/notif/get").then(function(response){
                    console.log("response request:");
                    console.log(response.data);
                    const notifGroup = document.querySelector(".notif-group");
                    if (response.data[0].length > 0) {
                        for (let i = 0; i < response.data[0].length; i++) {
                            var newEl = document.createElement("a");
                            newEl.innerHTML = response.data[0][i];
                            newEl.href = response.data[1][i];
                            newEl.id = response.data[2][i];
                            newEl.addEventListener('click',onClickLinkNotif);
                            notifGroup.prepend(newEl);
                        }
                    } else {
                            var newEl = document.createElement("p");
                            newEl.innerHTML = "Aucunes nouvelles notifications";
                            notifGroup.prepend(newEl);
                    }
                });

        function onClickLinkNotif(event) {
            event.preventDefault();
            id = this.id;
            axios.get(`/notif/delete/${id}`);
            window.location.href = this.href;
        }
        </script>
        {% endif %}
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
