<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {{ app.environment }}
        {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/body.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="top_header">
                <a id="left_top_header" href="{{ path('home')}}">
                    <div id="eforum"><span id="E">E</span>-FORUM</div>
                    <div id="lfde">Le forum des entrepreneurs</div>
                </a>
                <div id="right_top_header">
                    <form class="search-box" action="{{path('search')}}" method="POST">
                        <input autocomplete="off" type="text" placeholder="Rechercher" class="search-input" name="key">
                        <button type="submit" class="search-btn"><img src="{{ asset('img/search_icon.png')}}" alt="search_icon.png"></button>
                    </form>
                    <a href="#" class="notif-icon"><img src="{{ asset('img/notif_icon.png')}}" alt="notif_icon.png"></a>
                    <div class="dropdown-account">
                        <button onclick="accountDropdownToggle();" class="account-icon" id="accout-btn"><img src="{{ asset('img/account_icon.png')}}" alt="account_icon.png"></button>
                        {% if app.user %}
                            <ul>
                                <span><img src="{{ asset('img/account_icon.png') }}" alt="profil_picture.png"></span>
                                <h1>{{ app.user.firstName}} {{ app.user.lastName }}</h1>
                                <a href="{{ path('my_account') }}">Mon profil</a>
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </ul>
                        {% else %}
                            <ul>
                                <a href="{{ path('app_login') }}">Connexion</a>
                                <a href="{{ path('registration') }}">Inscription</a>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <nav>
                <a class="nav-link" href="{{ path('list_posts',  {filter:"dateDesc"}) }}">Les plus récents</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"Placements"})}}">Placements</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"e-Buisness"})}}">e-Buisness</a>
                <a class="nav-link" href="{{path('list_posts', {categoryName:"Entreprise"})}}">Entreprise</a>
                <a class="nav-link" id="new_post" href="{{ path('create_post') }}">Nouveau post</a>
            </nav>
        </header>
        <div class="page-content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p class="lead">Nik la peau lisse. All right reserved</p>
            <hr class="my-4">
            <div>
                <a href="#">Contacts</a>
                <a href="#">Données personnelles</a>
                <a href="http://gdn.cyrillestr.com">BigMuscle</a>
            </div>
        </footer>
        <script>
            const dropdown = document.querySelector('.dropdown-account');

            function accountDropdownToggle(){
                console.log("function");
                dropdown.classList.toggle('active');
            }

        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
