{% extends 'base.html.twig' %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/form.css') }}"> {% endblock %}

{% block title %}Nouveau Poste{% endblock %}

{% block body %}

    {% if app.user %}
    
    <div class="container">
        <div class="form-group">
            {{ form_start(formPost) }}
                <h1>Nouveau Poste</h1>
                {{ form_row(formPost.title,{'attr': {'placeholder':"Titre du poste"}}) }}
                {{ form_row(formPost.type,{'attr':{'placeholder':"Type du poste"}}) }}
                {{ form_row(formPost.category,{'attr':{'placeholder':"Categorie du poste"}}) }}
                {{ form_row(formPost.description,{'attr':{'placeholder':"Contenu du poste", 'class':"create-post"}}) }}

                <button type='submit' class="btn-primary">
                {% if editMode %}
                    Enregistrer
                {% else %}
                    Ajouter le Poste  
                {% endif %}
                </button>

            {{ form_end(formPost) }}
        </div>
    </div>
    
    {% else %}
    <h1>Vous devez vous connecter pour écrire un nouveau poste</h1>
    {% endif %}

{% endblock %}
