{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/show_post.css')}}">
{% endblock %}

{% block title %}
{% if post != NULL %}
    {{ post.title }}
{% else %}
    Post introuvable
{% endif %}
{% endblock %}

{% block body %}

{% if post == NULL %}

    <h1>Erreur: le post demandé n'existe pas ou a été supprimé</h1>

{% else %}

    <div class="post">
        <div class="top-post">
            <h1 class="display-3">{{ post.title }}</h1>
            {% if post.author == app.user %}
                <a class="delete-comment" id="{{post.id}}" href="{{ path('delete_post',{id:post.id}) }}" ><img src="{{ asset('img/garbage.png') }}" alt="garbage.png"></a>
            {% endif %}
        </div>
        <p class="lead">Par <a href="{{ path('show_user',{id:post.author.id}) }}" class="author">{{ post.author.firstName ~ ' ' ~ post.author.lastName }}</a>{{ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }} </p>
        <p class="lead">{{ "Catégorie : " ~ post.category.catName ~ " - " ~ post.category.subCatName }} </p>
        <p class="lead">Vue : {{ post.getSumPostViews }} </p>
        <hr class="my-4">
        <p class="description">{{ post.description | raw }}</p>
        <p class="badge-info">
           {% if post.status == 0 %}  
                {{ " ouvert"}}
            {% else %}
                {{" fermé"}}
            {% endif %}
        </p>
    </div>

    <fieldset class="comment-group">
        <legend id="textarea">Discussions</legend>
        {% if app.user %}
            <form class="form-group" action="{{path('create_comment',{'post':post.id})}}" method="POST" id="add_comment_form">
                <span id="answer_to"></span>
                <textarea name="content" cols="100" rows="3" placeholder="Ajoutez votre commentaire..." class="form-control" require></textarea>
                <button type="submit" class="btn-primary" id="submit_button">Ajouter</button>
            </form>
        {% else %}
            <div class="badge-warning">
                <p class=""><b><a href="{{path('app_login')}}" class="alert-link">Connectez-vous</a></b> pour ajouter un commentaire</p>
            </div>
        {% endif %}
        
        <div class="sort-select-group">
            <p class="out-of-results"> <span id="printed_comments">{{ comments|length }} </span> résultats sur {{ size }} </p>
            <form method="post" id="order_by" action="{{ post.id }}">
                <label for="exampleSelect1">Trier par</label>
                <select class="sort-select" name="orderBy" id="sort_by">
                    <option class="select_option" value="rateDesc" selected>Les plus pertinents</option>
                    <option class="select_option" value="rateAsc">Les moins pertinents</option>
                    <option class="select_option" value="dateDesc">Les plus récents</option>
                    <option class="select_option" value="dateAsc">Les plus ancients</option>
                </select>
            </form>
        </div>

        <div id="comments_area">
        {% for comment in comments %}
            <div class="comment-div" id="commentDiv{{comment.id}}">
                <div class="comment-header">
                    <p class="comment-author"> <a href="{{ path('show_user',{id:comment.author.id}) }}">{{comment.author.firstName ~ ' ' ~ comment.author.lastName}}</a></p>
                    <div class="comment-header-right">
                        <p class="comment-date">
                        {{comment.creationDate | date('d/m/Y') ~ " à " ~ comment.creationDate | date('H:i')}} 
                        {% if comment.updateDate != NULL %}
                            {{ ' (modifié le ' ~ comment.updateDate | date('d/m/Y') ~ " à " ~ comment.updateDate | date('H:i') ~ ')'}}
                        {% endif %}
                        </p>
                        {% if comment.author == app.user %}
                            <a class="delete-comment" id="{{comment.id}}" href="{{ path('delete_comment',{id:comment.id}) }}"><img src="{{ asset('img/garbage.png') }}" alt="garbage.png"></a>
                        {% endif %}
                    </div>
                    
                </div>
                <div>
                    <p class="comment-content">{{comment.content | raw}}</p>
                    {% if comment.reference %}
                        <div class="reference-div">
                            <div class="comment-header">
                                <p class="comment-author"> <a href="{{ path('show_user',{id:comment.reference.author.id}) }}">{{comment.reference.author.firstName ~ ' ' ~ comment.reference.author.lastName}}</a></p>
                                <p class="comment-date">
                                {{comment.reference.creationDate | date('d/m/Y') ~ " à " ~ comment.reference.creationDate | date('H:i')}} 
                                {% if comment.reference.updateDate != NULL %}
                                    {{ ' (modifié le ' ~ comment.reference.updateDate | date('d/m/Y') ~ " à " ~ comment.reference.updateDate | date('H:i') ~ ')'}}
                                {% endif %}
                                </p>
                            </div>
                            <p class="comment-content">{{comment.reference.content | raw}}</p>
                            
                        </div>
                    {% endif %}
                    <div class="comment-rate-group">
                        <a {% if app.user %} href="{{ path('comment_uprate',{'id':comment.id}) }}" {% else %}title="Connectez-vous pour réagir" href="{{ path('app_login') }}"{% endif %} class="js-uprate btn-up" id="{{comment.id}}"><img src="{{ asset("img/up.png") }}" alt="up.png"></a>
                        <span id="ratecount{{comment.id}}"> {{comment.sumCommentRates}}</span>
                        <a {% if app.user %} href="{{path('comment_downrate',{'id':comment.id})}}" {% else %}title="Connectez-vous pour réagir" href="{{ path('app_login') }}"{% endif %} class="js-downrate btn-down" id="{{comment.id}}"> <img src="{{ asset("img/down.png") }}" alt="up.png"></a>
                    </div>
                    <br>
                    {% if app.user and app.user != comment.author %}
                        <a href="{{ path('create_comment',  {'post':post.id, 'reference':comment.id} ) }}" class="btn-primary answer-to" id="{{comment.author.firstName ~ ' ' ~ comment.author.lastName }}">Répondre</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% if more == true %}
            <div class="div-show-more">
                <a href="{{path('list_comments', {postId:post.id,startAt:comments|length,orderBy:"rateDesc"})}}" id="show_more" class="btn-show-more">Afficher plus</a>
            </div>
        {% endif %}
        </div>

    </fieldset>
{% endif %}
{% endblock %}


{% block data %}
    {% if app.user %}
        <input id="userFirstName" value="{{ app.user.firstName }}">
        <input id="userLastName" value="{{ app.user.lastName }}">
        <input id="authentified" value="true">    
    {% else %}
        <input id="authentified" value="false">    
    {% endif %}
        <input id="postId" value="{{ post.id }}">
        <input id="nb_comments" value={{ comments|length }}>
{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script src="{{ asset('js/show_post_authentificated.js') }}"></script>
    {% endif %}
    <script src="{{ asset('js/show_post.js') }}"></script>
{% endblock %}
    