{% extends 'base.html.twig' %}

{% block title %}
{% if post != NULL %}
    {{ post.title }}
{% else %}
    Post introuvable
{% endif %}
{% endblock %}

{% block body %}

{% if post == NULL %}

    <h1>Erreur: l'article demandé n'existe pas ou a été supprimé</h1>

{% else %}

    <div class="jumbotron">
    <h1 class="display-3">{{ post.title }}</h1>
        <p class="lead">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' ( le ' ~ post.creationDate | date('d/m/Y') ~ "à " ~ post.creationDate | date('H:i') ~ ')' }} </p>
        <p class="lead">{{ "Catégorie : " ~ post.category.name }} </p>
        <hr class="my-4">
        <p>{{ post.description | raw }}</p>
        <p class="lead">
           <span class="badge badge-info">
           {% if post.status == 0 %}  
                {{ " ouvert"}}
            {% else %}
                {{" fermé"}}
            {% endif %} </span>
        </p>
    </div>

    <fieldset>
        <legend>Commentaires</legend>
        {% if app.user %}
            <div class="form-group">
                {{ form_start(formComment)}}
                    {{ form_row(formComment.content,{'label':' ', 'attr': {'placeholder':"Ajoutez votre commentaire...", 'class':"form-control", 'rows':"3"}}) }}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(formComment)}}
            </div>
        {% else %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">Connectez-vous pour ajouter un commentaire</h4>
                <p class="mb-0"><a href="{{path('app_login')}}" class="alert-link">Cliquez-ici pour vous connecter</a>.</p>
            </div>
        {% endif %}

        {% for comment in comments %}
        <div class="card border-dark mb-3" style="max-width: 100%;">
            <div class="card-header">
                {{comment.creationDate | date('d/m/Y') ~ " à " ~ comment.creationDate | date('H:i')}} 
                {% if comment.updateDate != NULL %}
                    {{ ' (modifié le ' ~ comment.updateDate | date('d/m/Y') ~ " à " ~ comment.updateDate | date('H:i') ~ ')'}}
                {% endif %}
            </div>
            <div class="card-body">
                <h4 class="card-title">{{comment.author.firstName ~ ' ' ~ comment.author.lastName}}</h4>
                <p class="card-text">{{comment.content | raw}}</p>
                <span> Utilité : <strong id="ratecount{{comment.id}}"> {{comment.sumCommentRates}} </strong></span>
                <a href="{{ path('comment_uprate',{'id':comment.id})}}"class="js-uprate btn btn-success" id="{{comment.id}}">Utile</a>
                <a href="{{ path('comment_downrate',{'id':comment.id})}}"class="js-downrate btn btn-danger" disable id="{{comment.id}}">Inutile</a>
            </div>
        </div>
        {% endfor %}
        </div>

    </fieldset>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        console.log("debug :");
        function onClickUprateBtn(event) {
            console.log("uprate function");
            event.preventDefault();
            const url = this.href;
            if(url != null){
                console.log("url !=NULL");
                const rateCount = document.getElementById(`ratecount${this.id}`);
                axios.get(url).then(function(response){
                    console.log("response request:");
                    console.log(response.data.rates);
                    rateCount.textContent = response.data.rates;
                });
            }
        }

        function onClickDownrateBtn(event) {
            console.log("downrate function");
            event.preventDefault();
            const url = this.href;
            if(url != null){
                console.log("url !=NULL");
                const rateCount = document.getElementById(`ratecount${this.id}`);
                axios.get(url).then(function(response){
                    console.log("response request:");
                    console.log(response.data.rates);
                    rateCount.textContent = response.data.rates;
                });
            }
        }

        document.querySelectorAll('a.js-uprate').forEach( 
            link => link.addEventListener('click',onClickUprateBtn)
        );

        document.querySelectorAll('a.js-downrate').forEach( 
            link => link.addEventListener('click',onClickDownrateBtn)
        );
       
    </script>
{% endblock %}