{% extends 'base.html.twig' %}

{% block title %}
Mon Compte
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/my_account.css') }}">
  <link rel="stylesheet" href="{{ asset('css/list_post.css') }}">
{% endblock %}

{% block body %}

  <div class="big-box">
    <div id="account_infos">
      <h1 >{{ user.firstName ~ ' ' ~ user.lastName}}</h1>
      <p >Membre depuis le {{ user.accountCreationDate | date('d/m/Y') }} </p>
      {% if user.activity != null %}
      <hr class="my-4"> 
      <p> {{ user.activity }} </p>
      <button id="modify_account" class="btn-primary">Modifier</button>
      {% endif %}
    </div>
  </div>
  {% if user.posts|length == 0 %}
    <div class="alert alert-dismissible alert-info">
      Vous n'avez publié encore aucun poste
    </div>
  {% else %}
    <h1>Vos derniers postes</h1>
    <div class="post-container">
      {% for post in user.posts %}
      <div class="post-box">
        <div class="top-post-box">
          <h1 class="title">Sujet : {{post.title}}</h1>
          <span class="badge-info">
            {% if post.status == 0 %}  
              {{ " ouvert"}}
            {% else %}
              {{" fermé"}}
            {% endif %} 
          </span>
        </div>
        <hr class="my-4">
        <p class="time-box">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }}</p>
        <a class="btn-read" href="{{path('show_post', {id:post.id}) }}" role="button">Lire le post</a>
      </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}

{% block data %}
  <input id="userFirstName" value="{{ app.user.firstName }}">
  <input id="userLastName" value="{{ app.user.lastName }}">
  <input id="userEmail" value="{{ app.user.email }}">
  <input id="userActivity" value="{{ app.user.activity }}">
  <input id="accountCreationDate" value="{{ user.accountCreationDate | date('d/m/Y') }}">
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/my_account.js') }}"></script>
{% endblock %}
