{% extends 'base.html.twig' %}

{% block title %}
Mon Compte
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/my_account.css') }}">
  <link rel="stylesheet" href="{{ asset('css/list_post.css') }}">
{% endblock %}

{% block body %}

  <div class="big-box">
    <div id="account_infos">
      <h1 >{{ user.firstName ~ ' ' ~ user.lastName}}</h1>
      <p >Membre depuis le {{ user.accountCreationDate | date('d/m/Y') }} </p>
      {% if user.activity != null %}
      <hr class="my-4"> 
      <p> {{ user.activity }} </p>
      <button id="modify_account" class="btn-primary">Modifier</button>
      {% endif %}
    </div>
  </div>
  {% if user.posts|length == 0 %}
    <div class="alert alert-dismissible alert-info">
      Vous n'avez publié encore aucun poste
    </div>
  {% else %}
    <h1>Vos derniers postes</h1>
    <div class="post-container">
      {% for post in user.posts %}
      <div class="post-box">
        <div class="top-post-box">
          <h1 class="title">Sujet : {{post.title}}</h1>
          <span class="badge-info">
            {% if post.status == 0 %}  
              {{ " ouvert"}}
            {% else %}
              {{" fermé"}}
            {% endif %} 
          </span>
        </div>
        <hr class="my-4">
        <p class="time-box">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }}</p>
        <a class="btn-read" href="{{path('show_post', {id:post.id}) }}" role="button">Lire le post</a>
      </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}



{% block javascripts %}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  {% if app.user %}

    function onClickModifyAccountBtn(event) {
        console.log("onClickModifyAccountBtn function");
        event.preventDefault();
        const div = document.getElementById("account_infos");            
        div.innerHTML = "<form id=\"modify_form\" action=\"{{ path('modify_account')}}\"><h1>Prénom</h1><input id=\"firstNameInput\" value=\"{{ app.user.firstName}}\" type=\"text\" name=\"firstName\" required=\"required\" maxlength=\"255\"><h1>Nom</h1><input id=\"lastNameInput\" value=\"{{ app.user.lastName}}\" type=\"text\" name=\"lastName\" required=\"required\" maxlength=\"255\"><h1>Email</h1><input id=\"emailInput\" value=\"{{ app.user.email}}\" type=\"text\" name=\"email\" required=\"required\" maxlength=\"255\"><h1>Activité</h1><textarea id=\"activityInput\"  type=\"text\" name=\"acitvity\" required=\"required\">{{ app.user.activity}}</textarea><br><br><button id=\"submit\" type=\"submit\" class=\"btn-primary\">Enregister</button></form>"
        
        div.querySelector("#submit").addEventListener('click',onclickSubmitButton);
    }

    function onclickSubmitButton(){
      console.log("onclicksubmitbutton function");
      event.preventDefault();
      const form =  document.querySelector('#modify_form');
      const firstNameInput = form.querySelector('#firstNameInput').value;
      const lastNameInput = form.querySelector('#lastNameInput').value;
      const emailInput = form.querySelector('#emailInput').value;
      const activityInput = form.querySelector('#activityInput').value;
      const button = this;

      // Interrupting input

      button.innerHTML = "Modification...";
      button.disabled = true;

      // Extracting and packaging data  
      const data = new FormData();
      data.append('firstName',firstNameInput);
      data.append('lastName',lastNameInput);
      data.append('email',emailInput);
      data.append('activity',activityInput);

      // Sending data
      const url = form.action;
      const requestAjax = new XMLHttpRequest();
      requestAjax.onreadystatechange = responseManager;
      requestAjax.open('POST',url);
      requestAjax.send(data);
      function responseManager () {
        console.log("responseManager function");
        if (requestAjax.readyState === XMLHttpRequest.DONE) {
          if (requestAjax.status === 200) {
            const div = document.getElementById("account_infos");
            div.innerHTML = `
            <h1 class="display-3">${firstNameInput} ${lastNameInput}</h1>
            <p class="lead">Membre depuis le {{ user.accountCreationDate | date('d/m/Y') }} </p>
            <hr class="my-4"> 
            <p>${activityInput}</p>
            <button id="modify_account" class="btn-primary">Modifier</button>`
            document.getElementById("modify_account").addEventListener('click',onClickModifyAccountBtn);
          } else {
            form.innerHTML = "Erreur, veuillez actualiser la page";
          }
        }
      }
    }

    document.getElementById("modify_account").addEventListener('click',onClickModifyAccountBtn);

  {% endif %}
  </script>
{% endblock %}
