{% extends 'base.html.twig' %}

{% block title %}
{% if user != NULL %} 
{{ user.firstName ~ ' ' ~ user.lastName }} 
{% else %}
utilisateur introuvé
{% endif %}
{% endblock %}

{% block body %}

{% if user != NULL %}
  <div class="jumbotron">
    <h1 class="display-3">{{ user.firstName ~ ' ' ~ user.lastName}}</h1>
    <p class="lead">Membre depuis le {{ user.accountCreationDate | date('d/m/Y') }} </p>
    {% if user.activity != null %}
    <hr class="my-4"> 
    <p> {{ user.activity }} </p>
    {% endif %}
  </div>
  {% if user.posts|length == 0 %}
    <div class="alert alert-dismissible alert-info">
      Cette utilisateur n'a publié encore aucun post
    </div>
  {% else %}
    <h1>Derniers posts</h1>
    {% for post in user.posts %}
    <div class="list-group">
      <a href="{{ path('show_post',{id:post.id})}}" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"> {{ post.title}} </h5>
          <small> {{ post.creationDate | date('d/m/Y') }} </small>
        </div>
        <p class="mb-1"> {{ post.description|length > 50 ? post.description|slice(0, 50) ~ '...' :post.description  }}</p>
        <span class="badge badge-info">
        {% if post.status == 0 %}  
            {{ " ouvert"}}
        {% else %}
            {{" fermé"}}
        {% endif %}</span>
      </a>
    </div>
    {% endfor %}
  {% endif %}

{% else %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Cet utilisateur n'existe pas !</strong> <a href="#" class="alert-link">Voir tous les utilisateurs</a> Cet utilisateur a peut-être été supprimé.
  </div>
{% endif %}

{% endblock %}
