{% extends 'base.html.twig' %}

{% block title %}
{% if user != NULL %} 
{{ user.firstName ~ ' ' ~ user.lastName }} 
{% else %}
utilisateur introuvé
{% endif %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/my_account.css') }}">
  <link rel="stylesheet" href="{{ asset('css/list_post.css') }}">
{% endblock %}

{% block body %}

{% if user != NULL %}
  <div class="big-box">
    <h1 class="display-3">{{ user.firstName ~ ' ' ~ user.lastName}}</h1>
    <p class="lead">Membre depuis le {{ user.accountCreationDate | date('d/m/Y') }} </p>
    {% if user.activity != null %}
    <hr class="my-4"> 
    <p> {{ user.activity }} </p>
    {% if app.user %}
      {% if app.user.isUserFollowed(user) %}
        <button type="button" id="/user/follow/{{user.id}}" class="btn-primary follow">Ne plus suivre</button>
      {% else %}
        <button type="button" id="/user/follow/{{user.id}}" class="btn-primary follow">Suivre</button>
      {% endif %}
    {% endif %}
  {% endif %}


  </div>
  {% if user.posts|length == 0 %}
    <div class="alert alert-dismissible alert-info">
      Cette utilisateur n'a publié encore aucun post
    </div>
  {% else %}
    <h1>Derniers posts</h1>
    <div class="post-container">
      {% for post in user.posts %}
      <div class="post-box">
        <div class="top-post-box">
          <h1 class="title">Sujet : {{post.title}}</h1>
          <span class="badge-info">
            {% if post.status == 0 %}  
              {{ " ouvert"}}
            {% else %}
              {{" fermé"}}
            {% endif %} 
          </span>
        </div>
        <hr class="my-4">
        <p class="time-box">{{ post.author.firstName ~ ' ' ~ post.author.lastName ~ ' (le ' ~ post.creationDate | date('d/m/Y') ~ " à " ~ post.creationDate | date('H:i') ~ ')' }}</p>
        <a class="btn-read" href="{{path('show_post', {id:post.id}) }}" role="button">Lire le post</a>
      </div>
      {% endfor %}
  {% endif %}

{% else %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Cet utilisateur n'existe pas !</strong> <a href="#" class="alert-link">Voir tous les utilisateurs</a> Cet utilisateur a peut-être été supprimé.
  </div>
{% endif %}

{% endblock %}


{% block javascripts %}
  {% if app.user %}
    <script src="{{ asset('js/show_user.js') }}"></script>
  {% endif %}
{% endblock %}